body{
    background-image: url("https://www.freecodecamp.org/news/content/images/2021/06/w-qjCHPZbeXCQ-unsplash.jpg");
    background-size: cover;
}

#logo{
    height: 70px;
}

#logout{
    float: right;   

}

#room_name{
    width: 700px;
}

#addRoom{
    margin-top: 10px;
}

#output
{
	padding: 10px; width:80%;background: rgba(255,255,255,0.8);border-radius: 15px;
}